In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
%matplotlib inline
from matplotlib.pyplot import figure
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import r2_score
from datetime import datetime
data = pd.read_csv("training.csv")

/Users/robin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
def date_time(data):
    data['Year'] = data['Occur Date'].dt.year
    data['Month'] = data['Occur Date'].dt.month
    data['Day'] = data['Occur Date'].dt.day
    data['Hour'] = data['Occur Time'].dt.hour
    data['Day Of Week'] = data['Occur Time'].dt.dayofweek
    return data

In [5]:
date =  pd.DataFrame(data[['Occur Date']].groupby('Occur Date').size().sort_values(ascending=False).rename('date_counts').reset_index())
data['Occur Date'] = pd.to_datetime(data['Occur Date'],format="%Y/%m/%d")
data['Occur Time'] = pd.to_datetime(data['Occur Time'],format="%H:%M")

new_data = date_time(data)

In [6]:
new_data.head()

,Occur Date,Neighborhood,UCR Literal,Day,Occur Time,Latitude,Longitude,UCR #,IBR Code,zipcode,Year,Month,Hour,Day Of Week
0,2009-01-01,Greenbriar,LARCENY-NON VEHICLE,1,1900-01-01 11:45:00,33.68845,-84.49328,630,2303,30344,2009,1,11,0
1,2009-01-01,Downtown,LARCENY-NON VEHICLE,1,1900-01-01 12:45:00,33.75320,-84.39201,630,2303,30303,2009,1,12,0
2,2009-01-01,Adamsville,LARCENY-NON VEHICLE,1,1900-01-01 13:45:00,33.75735,-84.50282,630,2303,30311,2009,1,13,0
3,2009-01-01,Lenox,LARCENY-NON VEHICLE,1,1900-01-01 14:45:00,33.84676,-84.36212,630,2303,30326,2009,1,14,0
4,2009-01-01,Greenbriar,LARCENY-NON VEHICLE,1,1900-01-01 15:45:00,33.68677,-84.49773,630,2303,30344,2009,1,15,0

In [7]:
downtown = new_data[(new_data['Neighborhood'] == 'Downtown') & (new_data['UCR Literal'] == 'LARCENY-FROM VEHICLE') & (new_data['Year'] >= 2009)]

In [8]:
ys = []
for i in downtown['Year'].unique().tolist():
    downtown_year = downtown[downtown['Year'] == i]
    downtown_month = pd.DataFrame((downtown_year[['Month']]).groupby('Month').size().rename('counts').reset_index())
    x = downtown_month['Month']
    y = downtown_month['counts']
    ys.append(y)
#     plt.plot(x,y)

In [9]:
temp = []
ys = np.array(ys)
ys = ys.reshape(1,120)[0].tolist()

In [ ]:
from sklearn.linear_model import Ridge,BayesianRidge
from sklearn.kernel_ridge import KernelRidge
from sklearn import linear_model
# KernelRidge 4
from sklearn.isotonic import IsotonicRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import Ridge,BayesianRidge,LogisticRegression,LinearRegression, TheilSenRegressor,RANSACRegressor
from mlens.ensemble import SuperLearner
ensemble = SuperLearner(scorer=accuracy_score, random_state=seed, verbose=2)
ensemble.add([ a, b])
#a is one regression
#b is another regression
ensemble.fit(X[:75], y[:75])
y_plot = ensemble.predict(X[75:])